**/build/**
**/.gradle/**
**/.gradletasknamecache
**/.idea/
**/*.iml
**/.classpath
**/.project
**/.settings/
**/bin/
**/libs/
/build/
activemq-data/
labs/jms/.gitignore
**/trackbox.log*
**/.springBeans
labs/bower_components/
/.gradle/
